@import "mixin";
main{
  margin-top: 80px;
}
.select2-search-field{
  min-width:60px !important;
  width:100% !important;
}
.select2-search-field input.select2-input{
  min-width:60px  !important;
  width: 100% !important;
}